<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       ">

	<dubbo:application name="dubbox-consumer" />
	<dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" />
	<dubbo:protocol name="dubbo" port="23452" />
    
	<dubbo:reference id="helloServiceConsumer" interface="com.dubbox.provider_demo.service.HelloService" />
	
	<dubbo:reference id="worldServiceConsumer" interface="com.dubbox.provider_demo.service.WorldService" />
	
	
</beans>
